.container .ql-editor {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	margin: 1rem 0;
	min-height: 11in;
	/* padding: 1in; */
	width: 8.5in;
}

.container .ql-container.ql-snow {
	border: none;
	display: flex;
	justify-content: center;
}

.container .ql-toolbar.ql-snow {
	background-color: #f3f3f3;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	margin: 0 -3px;
	position: sticky;
	top: 60px;
	z-index: 1;
}

@page {
	margin: 1in;
}

@media print {
	body {
		background: none;
	}

	.container .ql-editor {
		align-self: flex-start;
		box-shadow: none;
		height: 9in;
		margin: 0;
		padding: 0;
		width: 6.5in;
	}

	.container .ql-toolbar.ql-snow {
		display: none;
	}
}
