/** <----- Variables -----> */
:root {
	--text-color: #ffffff;
	--link-color: #0dcaf0;

	--blue-500: #12232e;
	--blue-400: #203647;
	--blue-300: #284155;
	--blue-200: #023e8a;
	--blue-100: #4da8da;

	--gray-500: #1c1c1c;
	--gray-400: #343434;
	--gray-300: #555555;
	--gray-200: #696969;
	--gray-100: #7c7c7c;

	/* --test: var(--blue-500); */
	--bg-primary-dark: var(--blue-500);
	--bg-primary-medium: var(--blue-400);
	--bg-primary-light: var(--blue-200);
	--bg-secondary-medium: var(--blue-300);
	--bg-secondary-light: var(--blue-100);
}

/** <----- Main colors -----> */
.bg-primary-dark {
	/* background-color: var(--blue-500); */
	/* background-color: var(--gray-500); */
	/* background-color: var(--test); */
	background-color: var(--bg-primary-dark);
}

.bg-primary-medium {
	/* background-color: var(--blue-400); */
	background-color: var(--bg-primary-medium);
}

.bg-primary-light {
	/* background-color: var(--blue-200); */
	background-color: var(--bg-primary-light);
}

/* .bg-secondary-dark {
} */

.bg-secondary-medium {
	/* background-color: var(--blue-300); */
	background-color: var(--bg-secondary-medium);
}

.bg-secondary-light {
	/* background-color: var(--blue-100); */
	background-color: var(--bg-secondary-light);
}

.bg-rainbow {
	background: linear-gradient(
		90deg,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 10%,
		rgba(208, 222, 33, 1) 20%,
		rgba(79, 220, 74, 1) 30%,
		rgba(63, 218, 216, 1) 40%,
		rgba(47, 201, 226, 1) 50%,
		rgba(28, 127, 238, 1) 60%,
		rgba(95, 21, 242, 1) 70%,
		rgba(186, 12, 248, 1) 80%,
		rgba(251, 7, 217, 1) 90%,
		rgba(255, 0, 0, 1) 100%
	);
}

/** <----- Table striped color -----> */
.table-striped.table-striped > tbody > tr:nth-of-type(odd) * {
	/* background-color: var(--blue-400); */
	background-color: var(--bg-primary-medium);
	color: var(--text-color);
}

.text-color {
	color: var(--text-color);
}

.link-color-sidebar {
	color: var(--text-color);
}

.link-color {
	color: var(--link-color);
	text-decoration: none;
}

.link-color:hover {
	color: var(--link-color);
	text-decoration: underline;
}

/** <----- new line from JSON -----> */
.new-line {
	white-space: pre-line;
	vertical-align: bottom;
}

/**<----- Navbar active class ----->*/
.active-navbar {
	/* color: black; */
	/* border: 1px solid green; */
	/* text-decoration-color: #0b4dda; */
	/* background-color: #0b4dda; */
	background-color: var(--bg-primary-light);
	border-radius: 5px;
}
.nav-link {
	color: white;
}

Nav li:not(:last-of-type) a.active {
	background-color: var(--bg-primary-light);
	border-radius: 5px;
}

ul li a.active {
	background-color: var(--bg-primary-light);
	border-radius: 5px;
}

.nav-link:hover {
	color: white;
	background-color: var(--bg-primary-light);
	border-radius: 5px;
}

/**<----- Modal ----->*/
.modal-content {
	border: none;
}

.modal-backdrop {
	background: rgba(0, 0, 0, 1);
}

/**<----- Responsive Iframe ----->*/
.iframe-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}

/** Remove arrows in number input  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/*? media card image queries */
.media-img-card {
	width: 142px;
	height: 189px;
}

@media (max-width: 1400px) {
	.media-img-card {
		width: 138px;
		height: 184px;
	}
}
@media (max-width: 1200px) {
	.media-img-card {
		width: 136px;
		height: 181px;
	}
}
@media (max-width: 992px) {
	.media-img-card {
		width: 120px;
		height: 160px;
	}
}
@media (max-width: 768px) {
	.media-img-card {
		width: 110px;
		height: 147px;
	}
}
@media (max-width: 525px) {
	.media-img-card {
		width: 97px;
		height: 129px;
	}
}
@media (max-width: 475px) {
	.media-img-card {
		width: 119px;
		height: 159px;
	}
}
@media (max-width: 420px) {
	.media-img-card {
		width: 113px;
		height: 151px;
	}
}
@media (max-width: 375px) {
	.media-img-card {
		width: 98px;
		height: 131px;
	}
}
